
<div class="jumbotron">
  <h1 class="display-3">Web Development</h1>
  <p class="lead">
    Everyones circumstances will be different but I'm also optimistic that anyone can achieve this at any age, it will require discipline
    and commitment - but i found the process of learning to be a journey of personal development in and of itself.
  </p>
  <hr class="my-4">
  <p>
    Contrary to the above, you don't have to go 120% gungho / commiting to changing your life overnight.
    I reccomend everyone start out with a bit of light coding at.
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://www.quora.com/Im-40-years-old-Can-I-still-study-to-be-a-front-end-web-developer" role="button">Learn more</a>
  </p>
</div>
